<h2>Houses</h2>
<div class='house-index-container'>
  <% @houses.each do |house| %>
    <div class='house-link'>
    <p><%= link_to house.name, house %></p>
    <img src='<%= house.sigil_url %>' class='index-sigil' alt='sigil'>
    </div>
  <% end %>
</div>
