nav {
  text-align: center;
}

#container {
 display: inline-flex;
 flex-direction: row;
 text-align: center;
}

#house-link {
  text-align: center;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
}

#index-sigil {
  border: 2px solid red;
  max-width:100%;
  max-height:95%;
}

#house-index-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 3px solid red;
  justify-content: space-around;
}

#house-show-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  border: 2px solid red;
}

#edit-house-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid blue;
  text-align: center;
}

#house-edit-form {
  flex-direction: column;
  padding: 5px;
}

#edit-char-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid blue;
  text-align: center;
}

#char-edit-form {
  flex-direction: column;
  padding: 5px;
}

#sigil-image {
  height: 10%;
  width: 10%;
  border: 2px solid blue;
}

#seat-image {
  height: 25%;
  width: 25%;
}

h2 {
  border: 2px solid red;
  text-align: center;
}
