h1 {
  font-family: 'MedievalSharp';
}
body {
  background-color: #d3d3d3;
  font-family: 'MedievalSharp';
  margin: 0 auto;
  background-color: #000;
  color: white;
}

.h1-div {
  text-align: center;
  margin: 0 auto;
  width: 300px;
  background-color: rgba(0,0,0,.4);
  border-radius: 25px;
}
.header {
  background-image: url('http://i.imgur.com/tP9XT2h.jpg');
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
}
nav {
  text-align: center;
  color: white;
  background-color: #3b3b3b;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
  /*background-color: rgba(255,255,255,0.4);*/
}

a:visited{
  color: white;
  style: none;
  text-decoration: none;
}

a {
  color: white;
  style: none;
  text-decoration: none;
}

a:hover {
  color: red;
}

.house-link {
  text-align: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
}

.index-sigil {
  max-height: 210px;
  max-width: 190px;
}

.house-index-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.house-show-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.edit-house-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.house-edit-form {
  flex-direction: column;
  padding: 5px;
}

.edit-char-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.char-edit-form {
  flex-direction: column;
  padding: 5px;
}

.sigil-detail {
  height:200px;
}

.seat-image {
  max-height: 200px;
  border: 2px solid white;
}

.delete-house {
  color: red;
}

.char-index-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.char-link {
  margin: 5px;
}

.char-show-wrapper {
  text-align: center;
}

.user-wrapper {
  text-align: center;
}

.char-show-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.char-photo {
  max-width: 200px;
  max-height: 300px;
  border: 2px solid white;
}

.char-show {
  width: 300px;
  padding: 5px;
}

.quote {
  font-style: italic;
}

.users-list {
  text-align: center;
}

h2 {
  background-color: #3b3b3b;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.alert {
  color: red;
}

.notice {
  color:green;
}

#ice {
  color: #00CAC2;
}

#fire {
  color: #F22100;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.list-div {
  display: inline;
  padding: 5px;
}
